/* .sidebar {
  background-color: lightgrey;
  width: 200px;
  height: 638px;
  padding: 0.5rem 0;
  margin: 0.1rem 0;
 
}
.list-items {
    text-decoration: none;
    list-style: none;
    padding-top: 2rem;
    font-size: 20px;
    color: black;
  } */
  
  
  