/* .home {
  display: flex;

}
.home1 {

  flex: 1;
  padding: 1rem;
}

.heading {
  text-align: center;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
 
  gap: 12px;
}
.item {
  background-color: aquamarine;
  padding: 1rem;
 
  gap: 12px;
  margin-left: 12px;
}
.lead {
  display: flex;
} */
.home {
  display: flex;
}
.data {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.item {
  list-style: none;
  background-color: aquamarine;
  padding: 1rem;
}
.nav {
  text-decoration: none;
}
.status {
  margin-top: 36px;
}
.filters {
  margin-top: 36px;
}
.lead-btn {
  margin-top: 36px;
  padding: 0.5rem;
  background-color: rgb(48, 48, 197);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.details {
  padding: 1rem;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}