.details {
  padding: 1rem;
}
.edit-lead {
  margin-top: 36px;
  padding: 0.5rem;
  background-color: rgb(48, 48, 197);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
