.details {
  padding: 1rem;
}
.edit-lead {
  padding: 0.5rem;
  background-color: rgb(48, 48, 197);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.report{
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
}
.leads-btn{
  background-color: rgb(45, 45, 198);
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
  width: 80px;
  border: none;
  cursor: pointer;
}
.leads{
  text-decoration: none;
  list-style: none;
  margin-left: 0;
  padding-inline-start: 0;
}
.list{
  padding-top: 18px;
}